//- doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= title
        table
            thead
                tr
                    th Name
                    th Price
                    th Status
                    th Actions
            tbody
                each laptop in data
                    tr
                        td #{laptop.properties.name}
                        td #{laptop.properties.price}
                        td #{laptop.properties.status}
                        td
                            a(href=`/update-cobj/${laptop.id}`) Edit
                tr
                    td(colspan="4")
                        a(href=`/update-cobj/`) Add new laptop